/*form.poptavka*/
form.poptavka {position: relative;}
form.poptavka .grp, form.poptavka .grp2
  {clear: both; float: left; margin-bottom: 6px;}
form.poptavka .grp2
  {display: none;}
form.poptavka .group2__label
  {padding-left: 10px;}
form.poptavka .slabe
  {color: #999;}

form.poptavka #cena__container
  {float: right; position: relative;}

form.poptavka .cena__label
  {min-width: 100px; text-align: right; padding-right: 4px;}
form.poptavka #no_table_priplatek1
  {text-align: right; width: 60px;}
form.poptavka #no_table_ks
  {text-align: center; width: 20px;}
form.poptavka .cena_readonly
  {text-align: right; padding-right: 15px;}
form.poptavka .cena_vyrazne
  {font-size: 160%;}
form.poptavka #odsad_tr
  {height: 16px;}
form.poptavka #odsad_td_dolu
  {padding-top: 6px;}
form.poptavka #priplatek_duvod
  {margin-top: 30px; width: 200px; height: 80px;}
form.poptavka #priplatek_duvod, form.poptavka #priplatek_castka,
  form.poptavka #vysledna_cena {display: none;} 

form.poptavka #specifikace
  {float: left; position: relative;}

form.poptavka .group__label
  {float: left; width: 100px; position: relative; top: 4px;}
form.poptavka .group__input
  {float: left;}

form.poptavka #no_table_sirka, form.poptavka #no_table_vyska
  {width: 36px; text-align: center;}
form.poptavka #no_table_levy, form.poptavka #no_table_horni
  {width: 36px; text-align: center;}
form.poptavka #no_table_pravy, form.poptavka #no_table_dolni
  {width: 36px; text-align: center;}

form.poptavka #rozmer__container #krat
  {position: relative; top: -2px; left: -2px;}
form.poptavka #rozmer__container #orientace
  {position: relative; top: -2px; left: 36px; display: none;}

form.poptavka #okraje__container #okraje__label
  {top: 26px;}
form.poptavka #okraje__container #okraje
  {height: 80px; position: relative;}

form.poptavka #no_table_levy
  {position: absolute; top: 24px; left: 0px;}
form.poptavka #no_table_horni
  {position: absolute; top: 0px; left: 48px;}
form.poptavka #no_table_pravy
  {position: absolute; top: 24px; left: 96px;}
form.poptavka #no_table_dolni
  {position: absolute; top: 48px; left: 48px;}

form.poptavka #no_table_lista_cislo, form.poptavka #no_table_lista2_cislo,
form.poptavka #no_table_pasparta_cislo, form.poptavka #no_table_pasparta2_cislo
  {width: 44px; text-align: right;}

form.poptavka div.detail
  {display: none;}
form.poptavka div.detail textarea
  {margin-left: 30px; font-size: 86%; color: #666;
  padding-top: 1px; padding-bottom: 1px;
  position: relative; top: -6px;
  width: 600px; height: 16px; line-height: 120%; 
  background-color: #eee; border-color: #e4e4e4;
  overflow:hidden;}
  /* overflow:hidden a onkeyup="textAreaAdjust(this)" =auto velikost */
  
/*form.poptavka #no_table_lista_id__row {display: xx;}*/
