{{extend 'layout.html'}}

{{if 'minula_cena' in locals():}}
    <div id="minula_cena" data-cena="{{=minula_cena}}" data-nakupni="{{=minula_nakupni}}"></div>
    <script src="/edga/static/js/edga/seznam/seznam.js" type="text/javascript"></script>
    {{pass}}

{{if not isinstance(pocet_variant, bool):}}
	<p>{{='Barevných variant: %i' % pocet_variant}}</p>
    {{pass}}

{{=grid}}




{{if False and caste_form:}}
    <p>Časté barvy můžeš do sortimentu přidat jednoduše - zadáním čísla.</p>
    <p>Chybějící obvyklou barvu <a href="{{=URL(akce_caste)}}" target="_blank">doplň do seznamu častých barev</a>
    (a pak pro její zobrazení <a href="{{=URL(args=request.args, user_signature=True)}}">aktualizuj tuto stránku</a>),<br />
    chybějící neobvyklou barvu (která se u jiných prvků nevyskytuje) přidej tlačítkem [+] zde nahoře.</p>
    <p>Pozn.: <em>Duplicitní číslo přidáno nebude.</em></p>
    {{=caste_form}}
    {{pass}}
